/* CSS DOCUMENT */
@charset "utf-8";

@font-face {
    font-family: "Montserrat Bold";
    src: url(fuentes/Montserrat-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat Regular";
    src: url(fuentes/Montserrat-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat medium";
    src: url(fuentes/Montserrat-Medium.ttf) format(truetype);
    font-weight: italic;
    font-style: normal;
}

@font-face {
    font-family: "MDLZ";
    src: url(fuentes/MDLZBITETYPE-REGULAR-A8494C2ADC767C4E1AA9A688436B0A51.TTF) format(truetype);
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: "Autography";
    src: url(fuentes/Autography.otf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

/* selector universal */
* {
    font-family: "Montserrat regular", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #720000
}

/* esto es para los textos */

p {
    font-family: 'Montserrat regular', sans-serif;
    text-wrap-style: balance;
    padding: 10px;
    max-width: 535px;
}

/* aplicación al portfolio */


header {
    nav {
        background-color: #590000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 74px 8px 57px;
        position: fixed;
        width: 100%;
    }

    .marca-personal {
        display: flex;
        align-items: center;
        gap: 50px;

        img {
            width: 43px;
            height: 30px;
        }

        h1 {
            color: #FFF;
            font-size: 12px;
            font-weight: 500;
            line-height: 49px;
        }
    }

    #botones {
        display: flex;
        gap: 35px;
        list-style: none;
    }

    #botones a {
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        text-decoration: none;
    }

    #botones a:hover {
        text-decoration: underline;
    }
}

/* pagina bienvenidos */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 40px 40px 40px;
    min-height: 100vh;

    #bienvenidos {
        display: flex;
        align-items: center;
        gap: 2px;
        margin-bottom: 60px;

        h2 {
            color: #FFF;
            font-family: "MDLZ BITE TYPE";
            font-size: 100px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        img {
            width: 708px;
            height: 341px;
        }
    }

    .boton-descubri {
        display: flex;
        width: 271px;
        height: 62px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        color: var(--bordo-base, #720000);
        text-align: center;
        font-family: "MDLZ BITE TYPE";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
    }

    .boton-descubri:hover {
        background-color: transparent;
        color: white;
    }

    /* pagina sobre mi */
    #sobre-mi {
        width: 1862px;
        height: 1219px;

        .libreta {
            img {
                width: 1508px;
                height: 1169px;
            }

            .libreta-contenido {
                position: absolute;
                top: 8%;
                left: 13%;
                right: 4%;
                bottom: 6%;
                display: flex;
                flex-direction: column;
                gap: 5%;
                padding: 3% 3% 5%;

                .titulo {
                    display: flex;
                    align-items: center;
                    gap: 18px;
                    flex-wrap: wrap;

                    h3 {
                        color: #000;
                        font-family: Autography;
                        font-size: 150px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    img {
                        width: 246px;
                        height: 103px;
                    }
                }

                /* Párrafos de texto */
                p {
                    width: 738px;
                    color: #000;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 31px;
                }

                /* Botón PROYECTOS */
                .libreta-boton {
                    display: flex;
                    width: 222px;
                    height: 82px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    background: var(--bordo-base, #720000);
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                    color: white;
                    text-align: center;
                    font-family: "MDLZ BITE TYPE";
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-decoration: none;
                }

                .libreta-boton:hover {
                    background-color: transparent;
                }
            }
        }

        /* ── Foto oli ── */
        .foto {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            margin-left: -80px;
            align-self: flex-end;
            height: 90%;
        }
    }

    #proyectos {

        h3 {
            color: #FFF;
            font-family: "MDLZ BITE TYPE";
            font-size: 65px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .boton-ver-mas {
            display: flex;
            width: 271px;
            height: 62px;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: #FFF;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            color: var(--bordo-base, #720000);
            text-align: center;
            font-family: "MDLZ BITE TYPE";
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
            cursor: pointer;
        }

        .boton-ver-mas:hover {
            background-color: transparent;
            color: white;
        }

        .audio {

            p {
                font-family: "MDLZ BITE TYPE";
                font-size: 15px;
                color: white;
                font-weight: 400;
                line-height: normal;
            }
        }
    }

    #indice {
        position: relative;
        width: 100%;
        padding: 80px 4% 120px;

        .titulo-indice {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
            text-align: center;
            gap: 5px;

            h2 {
                color: #FFF;
                font-family: "MDLZ BITE TYPE";
                font-size: 100px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            img {
                width: 468px;
                height: 225.472px;
            }
        }

        .categorias {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 0 125px;
            max-width: 1200px;
            margin: 0 auto;

            .branding {
                position: relative;
                width: 280px;
                height: 200px;
                display: flex;
                align-items: flex-start;
                justify-content: center;

                h4 {
                    color: #FFF;
                    font-family: Autography;
                    font-size: 80px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    width: 76px;
                    height: 162px;
                    margin-right: 50px;
                }

                .boton-branding {
                    position: relative;
                    width: 100%;
                    height: 140px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    a {
                        color: #FFF;
                        font-family: Autography;
                        font-size: 60px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-decoration: none;
                    }

                    img {
                        position: absolute;
                    }
                }
            }

            .social-media {
                position: relative;
                width: 280px;
                height: 200px;
                display: flex;
                align-items: flex-start;
                justify-content: center;

                h4 {
                    color: #FFF;
                    font-family: Autography;
                    font-size: 80px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    width: 76px;
                    height: 162px;
                    margin-right: 30px;
                }

                .boton-social-media {
                    position: relative;
                    width: 100%;
                    height: 140px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    a {
                        color: #FFF;
                        font-family: Autography;
                        font-size: 60px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-decoration: none;
                    }

                    img {
                        position: absolute;
                    }
                }
            }

            .packaging {
                position: relative;
                width: 280px;
                height: 200px;
                display: flex;
                align-items: flex-start;
                justify-content: center;

                h4 {
                    color: #FFF;
                    font-family: Autography;
                    font-size: 80px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    width: 76px;
                    height: 162px;
                    margin-right: 40px;
                }

                .boton-packaging {
                    position: relative;
                    width: 100%;
                    height: 140px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    a {
                        color: #FFF;
                        font-family: Autography;
                        font-size: 60px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-decoration: none;
                    }

                    img {
                        position: absolute;
                    }
                }
            }

            .editorial {
                position: relative;
                width: 280px;
                height: 200px;
                display: flex;
                align-items: flex-start;
                justify-content: center;

                h4 {
                    color: #FFF;
                    font-family: Autography;
                    font-size: 80px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    width: 76px;
                    height: 162px;
                    margin-right: 40px;
                }

                .boton-editorial {
                    position: relative;
                    width: 100%;
                    height: 140px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    a {
                        color: #FFF;
                        font-family: Autography;
                        font-size: 60px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-decoration: none;
                    }

                    img {
                        position: absolute;
                    }
                }
            }

            .contacto {
                position: relative;
                width: 280px;
                height: 200px;
                display: flex;
                align-items: flex-start;
                justify-content: center;

                h4 {
                    color: #FFF;
                    font-family: Autography;
                    font-size: 80px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    width: 76px;
                    height: 162px;
                    margin-right: 40px;
                }

                .boton-contacto {
                    position: relative;
                    width: 100%;
                    height: 140px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    a {
                        color: #FFF;
                        font-family: Autography;
                        font-size: 60px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-decoration: none;
                    }

                    img {
                        position: absolute;
                    }

                }
            }
        }
    }
}

footer {
    background-color: #590000;
    display: flex;
    width: 1920px;
    height: 88px;
    padding: 29px 52px 29px 59px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .contenedor {
        display: flex;
        justify-content: space-between;
        width: 100vw;


        .catedra p {
            color: #FFF;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .redes {
            display: flex;
            align-items: center;
            gap: 12px;

            img {
                width: 35px;
                height: 35px;
            }
        }
    }
}