/* CSS DOCUMENT */
@charset "utf-8";

@font-face {
    font-family: "Poppins Bold";
    src: url(fuentes/Poppins-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Poppins Regular";
    src: url(fuentes/Poppins-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins Italic";
    src: url(fuentes/Poppins-Italic.ttf) format(truetype);
    font-weight: italic;
    font-style: normal;
}

@font-face {
    font-family: "Poppins Light";
    src: url(fuentes/Poppins-Light.ttf) format(truetype);
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: "Podkova regular";
    src: url(fuentes/Podkova-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

/* selector universal */
* {
    font-family: "Podkova regular", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(249, 240, 250);
}

/* aplicación al CV */

/* inicio y portfolio */

header {
    display: flex;
    background-color: rgb(196 253 189 / 28%);
    padding: 10px;
    justify-content: center;

    nav {
        display: flex;
        font-family: 'Podkova regular', serif;
        font-size: 0.9rem;
        gap: 10px;

        a {
            text-decoration: none;
        }

        a:hover {
            color: rgb(226, 107, 214);
        }
    }

    h1 {
        font-size: 0.95rem;
        font-family: 'Poppins Regular', sans-serif;
        color: rgb(219, 136, 211);
    }

    .contenedor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        max-width: 1200px;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
}

h2 {
    font-family: 'Poppins Bold', sans-serif;
    color: rgb(251, 176, 255);
    font-size: 2.5rem;
    text-align: center;
    padding-top: 18px;
}

h3 {
    font-family: 'Poppins Regular', sans-serif;
    color: rgb(150, 211, 143);
    font-size: 1.6rem;
    line-height: 5rem;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 10px;
}

h4 {
    font-family: 'Poppins Italic', sans-serif;
    color: rgb(88, 47, 82);
    font-size: 1.1rem;
    line-height: 1.8rem;
    padding: 10px;
}

h5 {
    font-family: 'Poppins Light', sans-serif;
    font-size: 0.9rem;
    color: rgb(219, 136, 211);
    line-height: 1.3rem;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

/* esto es para los textos */

p {
    font-family: 'Podkova regular', serif;
    font-size: 0.9rem;
    line-height: 1.15rem;
    text-wrap-style: balance;
    padding: 10px;
    max-width: 535px;
}

/* esto es de la lista del final */

#habilidades {

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;


    ul {
        font-size: 0.9rem;
        display: flex;
        flex-direction: row;
        gap: 20px;
        list-style: none;

        li {
            background-color: rgba(150, 211, 143, 0.644);
            border-radius: 10px;
            height: 35px;
            width: 190px;
            text-align: center;
            padding-top: 5px;
            border: solid;
            border-color: rgba(122, 170, 116, 0.87);;
        }
    }
}

footer {
    background-color: rgb(245, 229, 247);
    padding: 10px;

    .redes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        img {
            margin: 5px;
        }

        a {
            padding-right: 10px;
        }
    }

    .catedra {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

}

#hero {
    background-image: url(img/hero-compu-agenda.jpg);
    background-position: 90%;
    background-size: cover;
    height: 30vh;
    padding: 5px;
    border-color: rgb(219, 136, 211);
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0;
    border-right-width: 0;

    h3 {
        color: rgb(251, 176, 255);
        line-height: 0.5rem;
        font-size: 1.3rem;
        margin-top: 8px;
        text-align: center;
    }
}

#degradado {
    p {
        font-family: 'Poppins Italic', sans-serif;
        font-size: 25px;
        text-align: center;
        line-height: 2.3rem;
        max-width: 1200px;
        color: rgb(84, 110, 82);
    }

    background: linear-gradient(91deg, rgb(196 253 189), rgb(255 202 250 / 85%));
    padding: 20px;
    min-height: 10vh;
    margin: 45px;
    border-radius: 100px;
    max-width: 1200px;

}

#pattern {
    background-image: url(img/fondo-trama-verde.png);
    background-size: 100px;
    margin: 30px 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        line-height: 1rem;
        color: rgb(90 119 87);
        padding-bottom: 10px;
        text-align: center;
    }

    h4 {
        text-align: center;
    }

    p {
        max-width: 580px;
        text-align: center;
    }
}

#datos-academicos {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        text-align: center;
    }
}

#objetivos {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        margin-top: 40px;
    }

    p {
        text-align: center;
    }
}

#otros-proyectos {

    h3 {
        margin-top: 60px;
        margin-bottom: 15px;
        text-align: center;
    }

    .flex-container-2 {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-bottom: 40px;
        flex-wrap: wrap;
        justify-content: center;

        .flex-item-1,
        .flex-item-2 {
            margin-left: 15px;
            width: 435px;
            text-align: center;

            p {
                margin-bottom: 10px;
            }
        }
    }
}

#experiencia-laboral {

    h3 {
        text-align: center;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .flex-item-1 {
        margin-left: 15px;
        border-color: rgb(219, 136, 211);
        border-style: dashed;
        width: 435px;
    }

    .flex-item-2 {
        margin: 0 35px;
        border-color: rgb(219, 136, 211);
        border-style: dashed;
        width: 435px;
    }
}